{% load static %}
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
 <!-- importing axios   -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- custom file imports -->

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase.js"></script>

<!-- custom js files -->
<script src="{% static 'js/global_constants.js' %}" ></script>
<script  src="{% static 'js/helpers.js' %}" ></script>
<script src="{% static 'js/modal.js' %}" ></script>
<script src="{% static 'js/login_form_handler.js' %}"></script>
<script src="{% static 'js/bookings_form_handler.js' %}"></script>
<script src="{% static 'js/create_account_form_handler.js' %}"></script>
<script src="{% static 'js/logout.js' %}"></script>
<script src="{% static 'js/booking_time_handler.js' %}"></script>
<script src="{% static 'js/firebaseConfig.js' %}" ></script>
<script src="{% static 'js/live_slot_monitoring.js' %}" ></script>


